<p>Dear {{ locals.userName }},</p>

<p>We noticed you requested a password reset for your Nexoris Account-no worries, we’ve got you covered!</p>

<p>To set a new password, simply click the link below:</p>

<p>
  <a href="{{ locals.link }}" style="padding: 10px 20px; color: #fff; background-color: #007bff; border-color: #007bff; text-decoration: none; border-radius: 4px;">Reset Password</a>
</p>

<p>Link expires in 2hrs</p>

<p>If you didn’t request this change, please ignore this email or contact our support team at support@nexoristech.com/+2349019195291 to secure your account.</p>

<p>For seamless experiences, kindly keep your login details safe and handy.</p>

<p>Nexoris Team</p>
<p>www.nexoristech.com</p>