<p>Dear {{ locals.user }},</p>

<p>
    {{ locals.message }}
</p>

<p>Thank you for choosing Nexoristech.</p>
<p>If you didn’t request this change, please ignore this email or contact our support team at
    support@nexoristech.com/+2349019195291 to secure your account.</p>

<p>For seamless experiences, kindly keep your login details safe and handy.</p>

<p>Nexoristech Team</p>
<p>www.nexoristech.com</p>