<p>Hello {{ locals.userName }},</p>

<p>Welcome back to Nexoristech<p>

<p>Your reset was successful, and your account is ready to go</p>

<p>Need help or have questions? Our support team is here for you anytime at support@nexoristech.com or via our hotline: +234 123455899.</p>

<p>Nexoristech Team</p>
<p>www.nexoristech.com</p>